prSections:
  - title: My PRs
    filters: is:open author:@me repo:{{ .campRepo }}
    limit: 20
  - title: Needs My Review
    filters: is:open review-requested:@me repo:{{ .campRepo }}
    limit: 20
  - title: All Camp PRs
    filters: is:open repo:{{ .campRepo }}
    limit: 40

issuesSections:
  - title: My Tasks
    filters: is:open assignee:@me repo:{{ .campRepo }}
    limit: 20
  - title: All Camp Issues
    filters: is:open repo:{{ .campRepo }}
    limit: 40

defaults:
  preview:
    open: true
    width: 60
  prsLimit: 20
  issuesLimit: 20
  layout:
    updatedAt:
      width: 10
      hidden: false
    repo:
      hidden: true
    author:
      width: 12
      hidden: false
    title:
      width: 0
    assignees:
      width: 12
      hidden: false
    reviewStatus:
      width: 14
      hidden: false
    ci:
      width: 8
      hidden: false
